.FeaturedCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.InterviewCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.LearnCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}